*.pyc
*.log
*.sql
*.sqlite
*.sqlite3

# Eclipse files
.project
.pydevproject
.pydevproject.bak
src/.settings

src/server/be_local_server/migrations/*
src/server/media/*
src/server/be_local_server/static/media/*

!src/client/*.jpg
*.jpg
*.jpeg

logs/
static/
