<div class="navbar navbar-xs navbar-fixed-top navbar-default" role="navigation">
  <div class="container-fluid nav-padding">
    <div class="navbar-header">

      <a class="pointer navbar-brand" ng-click="reloadMainPage()">
        <span class="full-logo"><img src="/images/logo-simple.png"></span>
        <span class="small-logo"><img src="favicon.png"></span>
      </a>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      

      <form class="navbar-form navbar-right search-nav-xs pull-right" ng-submit="doSearch(search)" role="search">
        <div class="form-group">
          <div class="input-group">
            <input type="text" ng-model="search" placeholder="Search for vendors or products" class="form-control"
              ng-bind-html="match.label | typeaheadHighlight:query" 
              typeahead-on-select='onSelect($item, $model, $label)' 
              typeahead="product.name for product in updateProductSuggestions($viewValue)">
            <span class="input-group-btn">
              <button class="btn beLocal-btn-filled" type="submit">Search</button>
            </span>
          </div>    
        </div>
      </form>
    </div>
    <div class="navbar-collapse collapse">    

      <div ng-hide="AuthService.isAuthenticated()">
        <form name="loginForm" class="navbar-form navbar-right sign-in-form" role="form">      
          <button data-toggle="modal" ng-click="clearLoginModal()" data-target="#loginModal" class="btn btn-primary beLocal-btn">Login</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle pointer">Register <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="pointer" ng-click="showCustomerSignUp()">As a Foodie</a></li>
              <li><a class="pointer" ng-click="showFarmerSignUp()">As a Farmer or Foodmaker</a></li>
            </ul>
          </li>
        </ul> 
      </div> 

      <div class="visible-xs">
        <ul class="nav navbar-nav">
          <li ng-class="{active : state.$current.name === 'main'}"><a class="pointer" data-target="#trending" data-toggle="tab" ng-click="setHash('trending'); trendingMasonry()" id="trendingTab">In Season Now</a></li>
          <li><a data-target="#vendors" class="pointer" data-toggle="tab" ng-click="setHash('vendors');" id="vendorsTab">Farmers & Foodmakers</a></li>
          <li><a data-target="#markets" class="pointer" data-toggle="tab" ng-click="setHash('markets'); marketMasonry()" id="marketsTab">Local Markets</a></li>  
        </ul>
      </div>


      <div ng-show="AuthService.isAuthenticated() && StateService.getUserType() === 'VEN'">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle pointer">My Account<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a class="pointer" ng-click="displayAccountPage()">My Profile</a></li>           
                <li class="divider"></li>
                <li><a class="pointer" ng-click="AuthService.logout()">Logout</a></li>
              </ul>
            </li>
          </ul>  
      </div>

      <div ng-show="AuthService.isAuthenticated() && StateService.getUserType() === 'CUS'">
          <ul class="nav navbar-nav navbar-right">
              <li><a class="pointer" ng-click="AuthService.logout()">Logout</a></li>
          </ul>  
      </div>      

      <div ng-show="AuthService.isAuthenticated() && StateService.getUserType() === 'SUP'">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle pointer">My Account<span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a class="pointer" ng-click="goToManage()">Manage Vendors</a></li>        
              <li class="divider"></li>
              <li><a class="pointer" ng-click="AuthService.logout()">Logout</a></li>
            </ul>
          </li>
        </ul>  
      </div>        

    </div>
  </div>
</div>

<login-modal></login-modal>