<div class="navbar navbar-fixed-top navbar-default white-text" role="navigation">
  <div class="container-fluid nav-padding nav-bar-top">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
      <!-- <a class="navbar-brand" href="#">be<span class="beLocal-highlight">Local</span></a> -->
    <div class="pull-right">
      <form class="navbar-form beLocal-search" role="search" >
        <div class="form-group">
          <div class="input-group">
            <input type="text"  placeholder="Search for vendors or products" class="form-control">
            <span class="input-group-btn">
              <button class="btn beLocal-btn-filled" type="button">Search</button>
            </span>
          </div>    
        </div>
      </form>
    </div>

    <div class="navbar-collapse collapse">   

<!--       <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle pointer">Browse <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Fruits</a></li>
            <li><a href="#">Vegetables</a></li>            
            <li><a href="#">Preserves</a></li>
            <li class="divider"></li>
            <li><a href="#">Vendors</a></li>
          </ul>
        </li>
      </ul>      -->

      <div ng-hide="AuthService.isAuthenticated()">
        <form name="loginForm" class="navbar-form navbar-right sign-in-form" role="form">      
          <button type="submit" ng-click="showLogin()" class="btn btn-primary beLocal-btn">Sign In</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle pointer white-text">Register <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="pointer white-text" ng-click="showCustomerSignUp()">As a Customer</a></li>
              <li><a class="pointer white-text" ng-click="showFarmerSignUp()">As a Farmer or Foodmaker</a></li>
            </ul>
          </li>
        </ul> 
      </div> 

      <div ng-show="AuthService.isAuthenticated()">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle pointer white-text">My Account<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="pointer" ng-click="displayAccountPage()">My Store</a></li>
              <li><a href="#">Account Settings</a></li>            
              <li class="divider"></li>
              <li><a class="pointer" ng-click="AuthService.logout()">Sign Out</a></li>
            </ul>
          </li>
        </ul>  
      </div>

    </div>

  </div>

  <div class="row customer-nav top-nav-large">
    <div class="col-sm-3 logo">
      <img src="/images/logo.png">
    </div>
    <div class="col-sm-9">
        <ul class="list-inline nav-shadow">
          <li class="active"><a href="#trending" id="trendingTab" data-toggle="tab">In Season Now<div ng-show="active" class="ng-hide">****</div></a></li>
          <li><a href="#vendors" id="vendorsTab" data-toggle="tab">Farmers & Foodmakers</a></li>
          <li><a href="#markets" ng-click="marketMasonry()" id="marketsTab" data-toggle="tab">Local Markets</a></li>  
        </ul>
    </div>
  </div>

</div>







<div class="modal fade" id="noValidAccountModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">No Valid Account</h4>
      </div>
      <div class="modal-body">
        <p>Oops! We couldn't find an beLocal account registered with that Facebook account. Try signing up using the Register button first!</p>
      </div>
      <div class="modal-footer no-top-margin">
        <button type="button" class="btn beLocal-btn-filled" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->