<div class="thumbnail product-card" ng-model="item">
      <img ng-src="{{item.photo.image_url}}" />
      <div class="caption trending-caption">

      	<div class="row">
	      	<div class="col-sm-6">
		        <h4 class="no-bottom-margin">{{item.name}}</h4>
	    		<a class="pointer container-display-vendor-name" ng-click="displayVendor(item.vendor.id)">{{item.vendor.company_name}}</a>		        
			</div>
			<div class="container-md col-lg-6 col-md-6 col-sm-6">
		        <button class="btn beLocal-btn-filled" role="button" data-toggle="modal" data-target=".product-details-model" ng-click="showProductDetailsModal(item)">More Details</button>
                
                <button class="btn btn-primary" role="button" ng-click="likeUnLikeProduct(item)" ng-disabled="likeDisabled">
                    <span class="glyphicon glyphicon-heart"></span> 
                    <span ng-hide="item.isLiked"> Like </span>
                    <span ng-show="item.isLiked"> Liked </span> 
                    <span ng-show="item.vote_total > 0"> {{item.vote_total}} </span> 
                </button>
	        </div>
	    </div>      
    </div>
</div>



