<div class="hidden-xs"><nav-bar></nav-bar></div>
<div ng-show="showXSNav"><navbar-x-s></navbar-x-s></div>


<div class="customer-container">

<h2> About beLocal </h2>

<p> Our mission is to connect you with locally sourced food by allowing you to explore the local markets and food vendors. </p>

<h2> Who Are We? </h2>

<p> We are senior students at UVic who are passionate about local food. We wanted to do our part to help the local food community and the result is beLocal. </p>

<h2> We Would Love to Hear From You </h2>

<p> BeLocal is a work in progress. Have suggestions, feedback, ideas or would just like to offer kudos?  Feel free to email us at: <a href="mailto:belocalvictoria@gmail.com">belocalvictoria@gmail.com</a></p>

</div>

<!-- INJECTING FOOTER -->
<footer></footer>