<!-- NAVBAR -->
<nav-bar></nav-bar>
<navbar-x-s></navbar-x-s>

<!-- SELLER DETAILS -->
<div class=" customer-container">  
    <div class="row vendor-profile-header">
        <div class="col-sm-6 col-md-5">
            <div class="row vendor-profile-image">

                <!-- DISPLAY VENDOR PROFILE IMAGE -->
                <div class="col-xs-12">
                    <img id="vendorProfileImage" ng-src="{{vendorDetails.vendor.photo.image_url}}"/>
                </div>

                <!-- DISPLAY LIKE BUTTON -->
                <div class="col-xs-12 vendor-profile-like">
                    <span class="pull-right" data-toggle="tooltip" style="display:inline-block" data-placement="left" title="{{!likeDisabled ? '' : 'Sign in to Like'}}">
                        <button ng-disabled="likeDisabled" ng-click="likeUnlikeItem(vendorDetails.vendor, 'vendor')" type="button" class="btn btn-default beLocal-btn-default">
                            <span class="glyphicon glyphicon-heart like-button" ng-class="{'like-button-liked' : vendorDetails.vendor.is_liked}"></span>
                            <span ng-hide="vendorDetails.vendor.is_liked">Like</span>
                            <span ng-show="vendorDetails.vendor.is_liked">Unlike</span>
                            <span class="like-container" ng-show="vendorDetails.vendor.total_likes > 0">
                              {{vendorDetails.vendor.total_likes}}
                            </span>
                        </button>
                    </span>
                </div>

            </div>
        </div>

        <div class="col-sm-6 col-md-7">

            <span class="new-vendor-name-style">
                {{vendorDetails.vendor.company_name}}
            </span>
            <br>
            
            <div class="new-hr-heading-style">
                <span ng-show="StateService.getCurrentUser().vendor.address.city != null && StateService.getCurrentUser().vendor.address.state != null">            
                    <span class="glyphicon glyphicon-map-marker"></span> {{vendorDetails.vendor.address.city}}, {{vendorDetails.vendor.address.state}} | 
                </span>
                <span ng-hide="vendorDetails.vendor.phone == null"> 
                    <a href="tel:{{vendorDetails.vendor.phone}}"><span class="glyphicon glyphicon-earphone"></span> {{vendorDetails.vendor.phone}}</a> |
                </span>
                <span ng-hide="StateService.getCurrentUser().vendor.webpage == null">
                    <a href="http://{{StateService.getCurrentUser().vendor.webpage}}" target="_blank">Our Website</a> |
                </span>
                <span ng-hide="vendorDetails.vendor.twitter_url == null"> 
                    <a href="{{vendorDetails.vendor.twitter_url}}" target="_blank">Twitter</a> |
                </span>
                <span ng-hide="vendorDetails.vendor.facebook_url == null">
                    <a href="{{vendorDetails.vendor.facebook_url}}" target="_blank"> Facebook</a> |
                </span>
            </div>
            <hr>
            <div class="description-container">
                {{vendorDetails.vendor.description}}
            </div>          
        </div>
    </div>


<!--Display Seller's Locations-->
    <div ng-hide="vendorDetails.markets.length == 0 && vendorDetails.selling_locations.length == 0">
        <hr>
        <div class="row">
            <div class="col-xs-12 new-hr-heading-style">
                {{vendorDetails.markets.length + vendorDetails.selling_locations.length}} SELLING LOCATION<span ng-show="(vendorDetails.markets.length + vendorDetails.selling_locations.length) != 1">S</span> FOR {{vendorDetails.vendor.company_name | uppercase}}
            </div>
        </div>
        <hr>

        <div class="row">
            <div ng-hide="vendorDetails.markets.length == 0 && vendorDetails.selling_locations.length == 0">    
                <div class="col-sm-4">
                    <div class="map-container">
                        <div class="bl-map" be-local-map locations="vendorDetails.selling_locations" markets="vendorDetails.markets"></div>
                    </div>
                </div>
            </div>    
            <div class="col-sm-8">


                <!-- NG-REPEAT FOR MARKETS -->
                <div ng-show="vendorDetails.markets.length != 0" class="new-heading-style">
                        Market Locations
                </div>
                <!-- repeating for each location that seller has in the db -->
                <div ng-repeat="location in vendorDetails.markets" class="container-for-cards">
                    <div class="card-formatting" ng-mouseenter="highlightPins(location)" ng-mouseleave="unHighlightPins(location)">
                        <div class="row">

                            <!-- Display the locations name -->
                            <div class="col-xs-9 card-lable-style">
                                {{location.name}}
                            </div>

                            <!-- Display icons which link to corresponding modals (tooltips are outer span tag) -->
                            <div class="col-xs-3 edit-delete-buttons">
                                <span data-toggle="tooltip" data-placement="left" title="Leave Market">
                                    <span class="edit-text glyphicon glyphicon-trash" ng-click="leaveMarket(location)" data-toggle="modal" data-target="TBA"></span>
                                </span>
                            </div> 


                        </div>

                        <div class="location-details seller-location-details">
                            <p><b>LOCATION:</b>
                                {{location.address.addr_line1}},
                                {{location.address.city}}, 
                                {{location.address.state}}, 
                                {{location.address.zipcode}}
                            </p>
                            <p ng-show="DateService.showDateString(location)"><b>DATES:</b>
                                {{location.recurrences.text | capitalize}} from {{location.real_start | date:"MMMM d'"}}
                                <span ng-show="location.recurrences.end_date"> to {{location.recurrences.end_date | date:"MMMM d'"}}</span>
                            </p>
                            <span ng-show="DateService.showOpenString(location)">
                                <b>OPEN</b>
                            </span>
                            <span ng-show="DateService.showReopeningString(location)">
                                <b>REOPENING FOR THE SEASON <span style="color: black">ON</span></b>
                            </span>                                                          
                            <span ng-show="DateService.showThisWeekString(location)">
                                <b><span ng-show="location.recurrences && location.address.hours.length != 0"> THIS WEEK:</span></b>
                            </span>
                            <span ng-hide="DateService.hideTheWeekOfContainer(location)">
                                <b><span ng-show="DateService.showTheWeekOfString(location)">THE WEEK OF {{DateService.getMonday(DateService.initDate(location.recurrences.next)) | date:"MMMM d'" | uppercase}} TO {{DateService.addDays(DateService.getMonday(DateService.initDate(location.recurrences.next)), 6) | date:"MMMM d'" | uppercase}}:</span></b>
                            </span>
                            <div ng-show="DateService.showClosedForTheSeasonString(location)">
                                <b>CLOSED FOR THE SEASON</b>
                            </div>
                            <div ng-hide="DateService.hideWeekdayContainer(location)">
                                <ul class="list-inline store-hours">&nbsp
                                    <li ng-repeat="day in location.address.hours">
                                        <span ng-hide="DateService.hideWeekday(location, day)"><b>{{weekdays[day.weekday - 1]}}</b>: {{day.from_hour}} - {{day.to_hour}}</span>
                                    </li>
                                </ul> 
                            </div>
                           <p class="indent-after-first-line"><b>DETAILS:<br></b>
                                 {{location.description}}
                            </p>
                        </div>    
                    </div>                        
                </div>
                <!-- end of repeating for each market that seller has in the db -->


                <!-- NG-REPEAT FOR CUSTOM LOCATIONS -->
                <div ng-show="vendorDetails.selling_locations.length != 0" class="new-heading-style">
                        Custom Locations
                </div>
                <!-- repeating for each location that seller has in the db -->
                <div ng-repeat="location in vendorDetails.selling_locations | orderBy:'name'" ng-mouseenter="highlightPins(location)" ng-mouseleave="unHighlightPins(location)" class="container-for-cards">
<div class="card-formatting">
                        <div class="row">

                            <!-- Display the locations name -->
                            <div class="col-xs-9 card-lable-style">
                                {{location.name}}
                            </div> 
                        </div>

                        <div class="location-details seller-location-details">
                            <span ng-show="location.address">
                                <p><b>LOCATION:</b>
                                    {{location.address.addr_line1}},
                                    {{location.address.city}}, 
                                    {{location.address.state}}, 
                                    {{location.address.zipcode}}
                                </p>
                            </span>
                            <span ng-show="location.address">
                                <p ng-show="location.date"><b>DATE:</b>
                                    {{location.date | date:" EEEE',' MMMM d'"}},
                                    {{location.address.hours[0].from_hour}} - 
                                    {{location.address.hours[0].to_hour}}
                                </p>
                                <p ng-show="location.recurrences"><b>DATES:</b>
                                    {{location.recurrences.text | capitalize}} from {{location.real_start | date:"MMMM d'"}}
                                    <span ng-show="location.recurrences.end_date"> to {{location.recurrences.end_date | date:"MMMM d'"}}</span>
                                </p>                                

                                <div ng-show="location.date == null">
                                <span ng-show="DateService.showThisWeekString(location)">
                                    <p><b>HOURS<span ng-show="location.recurrences"> FOR THIS WEEK</span>:</b></p>
                                </span>                                
                                <span ng-hide="DateService.showThisWeekString(location)">
                                    <p><b>HOURS<span ng-show="location.recurrences"> FOR THE WEEK OF {{getMonday(initDate(location.recurrences.next)) | date:"MMMM d'" | uppercase}} TO {{addDays(getMonday(initDate(location.recurrences.next)), 6) | date:"MMMM d'" | uppercase}}</span>:</b></p>
                                </span>
                                        <ul class="list-inline store-hours">&nbsp
                                        <li ng-repeat="day in location.address.hours">
                                            <span ng-hide="DateService.hideWeekday(location, day)"><b>{{weekdays[day.weekday - 1]}}</b>: {{day.from_hour}} - {{day.to_hour}}</span>                                        </li>
                                        </ul>
                                </div>
                            </span>

                            <span ng-show="location.email || location.phone">
                                <p><b>CONTACT INFORMATION:</b>
                                    {{location.phone}}
                                    <span ng-show="location.email && location.phone"> | </span>
                                    {{location.email}}
                                </p>
                            </span>
                            <span ng-show="location.description">
                                <p class="indent-after-first-line"><b>DETAILS:</b>
                                    <span id="pro-cust-description">{{location.description}}</span>
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- end of repeating for each custom location that seller has in the db -->
            </div>
        </div>

        <br>
    </div>


<!--Display Seller's Inventory-->
    <div ng-hide="vendorDetails.products.length == 0">
        <hr>
        <div class="row">
            <div class="col-xs-9 new-hr-heading-style">
                {{vendorDetails.products.length}} PRODUCT<span ng-hide="vendorDetails.products.length === 1">S</span> SOLD BY {{vendorDetails.vendor.company_name | uppercase}}
            </div>
        </div>
        <hr>
        <br>

        <div class="row" style="padding-top:5px" masonry="{transitionDuration:'0'}">
            <div class="col-trending ms-item col-lg-3 col-md-4 col-xs-6 masonry-brick" ng-repeat="item in vendorDetails.products" >
              <product-card data="item"></product-card>
            </div>
        </div>
    </div>
</div>

</div>
<!-- INJECTING FOOTER.HTML -->
<footer></footer>


<!-- END OF CONTAINTER-SELLER -->

<product-details-modal produt="product"></product-details-modal>
