<!-- NAVBAR -->
<nav-bar></nav-bar>
<navbar-x-s></navbar-x-s>

<!-- SELLER DETAILS -->
<div class=" customer-container">  
    <div class="row vendor-profile-header">

        <div class="col-sm-5 vendor-avatar">
            <div class="vendor-avatar-img" ng-style="{'background-image': 'url('+vendorDetails.vendor.photo.image_url+')'}" style="background-size: cover; background-repeat: no-repeat; background-position: center;">
                <!-- <img ng-src="{{vendorDetails.vendor.photo.image_url}}"> -->
                <div class="col-xs-12">
                        <span class="pull-right like-button-position" data-toggle="tooltip" style="display:inline-block" data-placement="left" title="{{!likeDisabled ? '' : 'Sign in to Like'}}">
                        <button ng-disabled="likeDisabled" ng-click="likeUnlikeItem(vendorDetails.vendor, 'vendor')" type="button" class="btn btn-default beLocal-btn-default">
                            <span class="glyphicon glyphicon-heart like-button" ng-class="{'like-button-liked' : vendorDetails.vendor.is_liked}"></span>
                            <span ng-hide="vendorDetails.vendor.is_liked">Like</span>
                            <span ng-show="vendorDetails.vendor.is_liked">Unlike</span>
                            <span class="like-container" ng-show="vendorDetails.vendor.total_likes > 0">
                              {{vendorDetails.vendor.total_likes}}
                            </span>
                        </button>
                    </span>
                </div>

            </div>

        </div>

        <div class="col-sm-7 vendor-header-content">

            <span class="new-vendor-name-style">
                {{vendorDetails.vendor.company_name}}
            </span>
            <br>
            
            <div class="new-hr-heading-style">
                <span ng-show="StateService.getCurrentUser().vendor.address.city != null && StateService.getCurrentUser().vendor.address.state != null">            
                    <span class="glyphicon glyphicon-map-marker"></span> {{vendorDetails.vendor.address.city}}, {{vendorDetails.vendor.address.state}} | 
                </span>
                <span ng-hide="vendorDetails.vendor.phone == null"> 
                    <a href="tel:{{vendorDetails.vendor.phone}}"><span class="glyphicon glyphicon-earphone"></span> {{vendorDetails.vendor.phone}}</a> |
                </span>
                <span ng-hide="StateService.getCurrentUser().vendor.webpage == null">
                    <a href="http://{{StateService.getCurrentUser().vendor.webpage}}" target="_blank">Our Website</a> |
                </span>
                <span ng-hide="vendorDetails.vendor.twitter_url == null"> 
                    <a href="{{vendorDetails.vendor.twitter_url}}" target="_blank">Twitter</a> |
                </span>
                <span ng-hide="vendorDetails.vendor.facebook_url == null">
                    <a href="{{vendorDetails.vendor.facebook_url}}" target="_blank"> Facebook</a> |
                </span>
            </div>
            <hr>
            <div class="description-container">
                {{vendorDetails.vendor.description}}
            </div>          
        </div>
    </div>


<!--Display Seller's Locations-->
    <hr>
    <div class="row">
        <div class="col-xs-12 new-hr-heading-style">
            {{vendorDetails.markets.length + vendorDetails.selling_locations.length}} SELLING LOCATION<span ng-show="(vendorDetails.markets.length + vendorDetails.selling_locations.length) != 1">S</span> FOR {{vendorDetails.vendor.company_name | uppercase}}
        </div>
    </div>
    <hr>

    <div class="row">
        <div ng-hide="vendorDetails.markets.length == 0 && vendorDetails.selling_locations.length == 0">    
            <div class="col-sm-4">
                <div class="map-container">
                    <div class="bl-map" be-local-map locations="vendorDetails.selling_locations" markets="vendorDetails.markets"></div>
                </div>
            </div>
        </div>    
        <div class="col-sm-8">


            <!-- NG-REPEAT FOR MARKETS -->
            <div ng-show="vendorDetails.markets.length != 0" class="new-heading-style">
                    Market Locations
            </div>
            <!-- repeating for each location that seller has in the db -->
            <div ng-repeat="location in vendorDetails.markets" class="container-for-cards">
                <div class="card-formatting" ng-mouseenter="highlightPins(location)" ng-mouseleave="unHighlightPins(location)">
                    <div class="row">

                        <!-- Display the locations name -->
                        <div class="col-xs-12 card-lable-style">
                            <span class="pointer underline-hover" ng-click="displayMarket(location.id)">{{location.name}}</span>
                        </div>

                    </div>
                    <div class="col-xs-12 seller-location-details">
                        <p><b>LOCATION:</b>
                            <a href="http://maps.google.com/?q={{location.address.latitude}},{{location.address.longitude}}" target="_blank">
                            {{location.address.addr_line1}},
                            {{location.address.city}}, 
                            {{location.address.state}}, 
                            {{location.address.zipcode}}
                            </a>
                        </p>
                    </div>
                    <div class="row seller-location-details">
                        <div class="col-xs-12">
                        <p><b>HOURS:</b>
                                <ul class="list-inline store-hours">&nbsp
                                    <li ng-repeat="day in location.address.hours">
                                        <b>{{weekdays[day.weekday - 1]}}</b>: {{day.from_hour}} - {{day.to_hour}}
                                    </li>
                                </ul>
                        </p>
                        </div>
                        <!-- <div class="col-xs-12">
                            <p class="indent-after-first-line"><b>DETAILS:</b>
                                {{location.description}}
                            </p>
                        </div> -->
                    </div>
                </div>    
            </div>
            <!-- end of repeating for each market that seller has in the db -->


            <!-- NG-REPEAT FOR CUSTOM LOCATIONS -->
            <div ng-show="vendorDetails.selling_locations.length != 0" class="new-heading-style">
                    Custom Locations
            </div>
            <!-- repeating for each location that seller has in the db -->
            <div ng-repeat="location in vendorDetails.selling_locations | orderBy:'name'" ng-mouseenter="highlightPins(location)" ng-mouseleave="unHighlightPins(location)" class="container-for-cards">
                <div class="card-formatting ">
                    <div class="row">

                        <!-- Display the locations name -->
                        <div class="col-xs-12 card-lable-style">
                            {{location.name}}
                        </div>

                    </div>

                    <div class="row seller-location-details">
                        <div class="col-xs-12">
                            <p ng-show="location.date"><b>DATE:</b>
                                {{location.date | date:" EEEE',' MMMM d'"}},
                                {{location.address.hours[0].from_hour}} - 
                                {{location.address.hours[0].to_hour}}
                            </p>
                        </div>
                        <div class="col-xs-12" ng-show="location.address !== null">
                            <p><b>LOCATION:</b>
                                <a href="http://maps.google.com/?q={{location.address.latitude}},{{location.address.longitude}}" target="_blank">
                                {{location.address.addr_line1}},
                                {{location.address.city}}, 
                                {{location.address.state}}, 
                                {{location.address.zipcode}}
                            </a>
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <div ng-hide="location.date">
                            <p><b>HOURS:</b>
                                    <ul class="list-inline store-hours">&nbsp
                                    <li ng-repeat="day in location.address.hours">
                                        <b>{{weekdays[day.weekday - 1]}}</b>: {{day.from_hour}} - {{day.to_hour}}
                                    </li>

                                    </ul>
                            </p>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-show="location.phone !== null && location.email !== null">
                            <p class="indent-after-first-line">
                                <b>CONTACT INFORMATION:</b>
                                <a href="tel:{{location.phone}}">{{location.phone}}</a>
                                <span ng-show="location.email && location.phone"> | </span>
                                <a href="mailto:{{location.email}}">{{location.email}}</a>
                            </p>
                        </div>
                        <div class="col-xs-12" ng-show="location.description !== null">
                            <p class="indent-after-first-line"><b>DETAILS:</b>
                                {{location.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of repeating for each custom location that seller has in the db -->
        </div>
    </div>

    <br>


<!--Display Seller's Inventory-->
    <div ng-hide="vendorDetails.products.length == 0">
        <hr>
        <div class="row">
            <div class="col-xs-9 new-hr-heading-style">
                {{vendorDetails.products.length}} PRODUCT<span ng-hide="vendorDetails.products.length === 1">S</span> SOLD BY {{vendorDetails.vendor.company_name | uppercase}}
            </div>
        </div>
        <hr>
        <br>

        <div class="row" style="padding-top:5px" id="masonry-container">
            <div class="col-trending ms-item col-lg-3 col-md-4 col-xs-6" ng-repeat="item in vendorDetails.products" >
              <product-card data="item"></product-card>
            </div>
        </div>
    </div>
</div>

</div>
<!-- INJECTING FOOTER.HTML -->
<footer></footer>


<!-- END OF CONTAINTER-SELLER -->

<product-details-modal produt="product"></product-details-modal>
