<nav-bar></nav-bar>

<div style="position:relative;">
  <div class="jumbotron beLocal-header">
    <div class="container">
    <!-- Header content here -->
    </div>
  </div>
  <div class="navbar-footer">
    <p>"Discover local food from the comfort of your home"</p>
  </div>
</div> 

<div id="twitter-feed"></div>

<div class="container">
  <div class="row marketing">
    <h4>HTML5 Boilerplate</h4>
    <p>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
      AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
  </div>

  <div class="footer">
    <p>♥ from the Yeoman team</p>
  </div>
</div>

<script type="text/javascript">(function(){var ticker=document.createElement('script');ticker.type='text/javascript';ticker.async=true;ticker.src='//twitcker.com/ticker/beLocalVictoria.js?speed=12&background=fafafa&tweet=8ed41e&open=true&container=own-container&own-container=twitter-feed';(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(ticker);})();</script>