<nav-bar></nav-bar>

<div style="position:relative;">
  <div class="jumbotron beLocal-header">
    <div class="container">
    <!-- Header content here -->
    </div>
  </div>
  <div class="navbar-footer">
    <p>Discover local food from the comfort of your home.</p>
  </div>
</div> 

<!-- <div id="twitter-feed"></div> -->

<div class="full-width-tabs seller-tabs container-fluid">
  <ul class="nav nav-pills" role="tablist">
    <li class="full-width"><a href="#markets" role="tab" ng-click="marketMasonry()" id="marketsTab" data-toggle="tab">Markets</a></li>  
    <li class="full-width active"><a href="#trending" role="tab" id="trendingTab" data-toggle="tab">Trending</a></li>
    <li class="full-width"><a href="#vendors" role="tab" data-toggle="tab">Vendors</a></li>
  </ul>
</div>

<div class="tab-content">
  <div class="tab-pane" id="markets">
    <div class="container container-home-page">
      <div class="row" id="masonry-market-container">
        <div class="col-trending ms-market-item col-lg-3 col-md-4 col-sm-6 col-xs-6" ng-repeat="market in marketList" >
          <market-card data="item"></market-card>
        </div>
      </div>
    </div>
  </div>
  
  <div class="tab-pane active" id="trending">
    <div class="container container-home-page">
      <div class="row" id="masonry-container">
        <div class="col-trending ms-item col-lg-3 col-md-4 col-sm-6 col-xs-6" ng-repeat="item in trendingProducts" >
          <product-card data="item"></product-card>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="vendors">
    <div class="container container-home-page">
      <div ng-repeat="vendor in vendors">
      	   <vendor-card data="vendor"></vendor-card>
      </div>
    </div> 
  </div>    
</div> 	
<div class="footer">
  <p>♥ from the beLocal team</p>
</div>

<!-- Product Details Modal -->
<div class="modal fade product-details-model" tabindex="-1" id="productDetailsModal" role="dialog" aria-labelledby="productDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-5 responsive-center">
                  <div class="thumbnail vendor-card-photo">
                     <img class="" ng-src="{{product.photo.image_url}}" />
                  </div>
                </div>
                <div class="col-sm-7">
                  <div class="responsive-center">
                    <h2 class="product-details-header">{{product.name}}</h2>
                    <p class="product-details-text no-bottom-margin">
                      <a class="pointer product-detail-vendor" ng-click="goToVendorDetails(product.vendor.id)">{{product.vendor.company_name}}</a>         
                    </p>
                  </div>
                  <p>
                    {{product.description}}
                  </p>
                </div>
              </div>            
            </div>
            
            <div class="modal-footer no-top-margin">
                <button type="button" class="btn beLocal-btn-filled" data-dismiss="modal" ng-click="hideProductDetailsModal()">Close</button>
            </div>
        <!-- /.modal-content -->
        </div>
    <!-- /.modal-dialog -->
    </div>
</div>
