<nav-bar></nav-bar>
<div class="header top-nav-large row">
  <div class="col-sm-2 logo">
    <img src="/images/logo.png">
  </div>
  <div class="col-sm-10">
      <br><br><br><br><br>
      <ul class="list-inline">
        <li class="active"><a href="#trending" id="trendingTab" data-toggle="tab">In Season Now</a></li>
        <li><a href="#vendors" id="vendorsTab" data-toggle="tab">Farmers & Foodmakers</a></li>
        <li><a href="#markets" ng-click="marketMasonry()" id="marketsTab" data-toggle="tab">Local Markets</a></li>  
      </ul>
  </div>
</div>


<!-- EACH OF THE TABS -->
<div class="tab-content">
  <div class="tab-pane" id="markets">
    <div class="container container-home-page">
      <div class="row" id="masonry-market-container">
        <div class="col-trending ms-market-item col-lg-3 col-md-4 col-sm-6 col-xs-6" ng-repeat="market in marketList" >
          <market-card data="market"></market-card>
        </div>
      </div>
    </div>
  </div>
  
  <!-- TRENDING TAB -->
  <div class="tab-pane active" id="trending">
    <div class="container container-home-page">
        <div class="row">

            <!-- DISPLAY ITEMS FOR EACH CATEGORY -->
            <div class="col-sm-10">
              <div class="new-heading-style">
                {{selectedCategory}}
              </div>
              <div class="row" style="padding-top:5px" id="masonry-container">
                <div ng-hide="showCategory || showTag" class="col-trending ms-item col-lg-3 col-md-4 col-sm-6 col-xs-6" ng-repeat="item in trendingProducts" >
                  <product-card data="item"></product-card>
                </div>
                <div ng-show="showCategory" class="col-trending ms-item col-lg-3 col-md-4 col-sm-6 col-xs-6" ng-repeat="item in selectedCategoryProducts" >
                  <product-card data="item"></product-card>
                </div>
                <div ng-show="showTag" class="col-trending ms-item col-lg-3 col-md-4 col-sm-6 col-xs-6" ng-repeat="item in selectedTagProducts" >
                  <product-card data="item"></product-card>
                </div>
              </div>
            </div>

            <!-- DISPLAY SIDE BAR OF ALL CATEGORIES & TAGS-->
            <div class="col-sm-2">
                <hr>
                <p class="small-header">Categories</p>
                <ul class="tag-list" role="">
                    <li><a class="plain-text-font" ng-class="{'active' : selectedCategory === 'All Products'}" ng-click="getAllProducts()">All Products</a></li>
                    <li class="" ng-repeat="category in categoryList">
                      <a class="plain-text-font" ng-class="{'active' : selectedCategory === category.name}" ng-click="getProductsWithCategory(category)">{{category.name}}</a>
                    </li>
                </ul><br>
                <h3>Tags</h3>
                <ul class="" role="">
                    <li><a ng-click="getAllProducts()">All Products</a></li>
                    <li class="" ng-repeat="tag in tagList">
                      <a ng-click="getProductsWithTag(tag)">{{tag.name}}</a>
                    </li>
                </ul>
            </div>

        </div>
  </div>
</div>

  <!-- VENDORS TAB -->
  <div class="tab-pane" id="vendors">
    <div class="container container-home-page">
      <div ng-repeat="vendor in vendors">
      	   <vendor-card data="vendor"></vendor-card>
      </div>
    </div> 
  </div>    
</div> 	


<!-- BE LOCAL FOOTER (TO BE INJECTED LATER) -->
<div class="footer">
  <div class="row">
    <div class="col-xs-6">
      logo & links here
    </div>
    <div class="col-xs-6 pull-right">
      Facebook | Pinterest | Twitter | beLocal@blah.com
    </div>
  </div>
</div>

<div class="footerCopyright">
  <span class="glyphicon glyphicon-copyright-mark" style="font-size:12px;"></span>
   2014 beLocal, Inc.
</div>

<product-details-modal product="product"></product-details-modal>
