<!-- NAVBAR -->
<div class="hidden-xs"><nav-bar></nav-bar></div>
<div class="visible-xs"><navbar-x-s></navbar-x-s></div>

<!-- SELLER DETAILS -->
<div class="customer-container">  
    <div class="row vendor-profile-header">
        <div class="col-md-5 new-vendor-avatar">
            <img ng-src="{{marketDetails.photo.image_url}}">
        </div>
        <div class="vendor-header-content">

            <span class="new-vendor-name-style">
                {{marketDetails.name}}<br>
            </span>
            <span class="new-hr-heading-style">
                <span class="glyphicon glyphicon-map-marker"></span> {{marketDetails.address.addr_line1}}, {{marketDetails.address.city}}, {{marketDetails.address.state}}
                | <a>Our Website</a> | Twitter | Facebook |
            </span>
            <div data-toggle="tooltip" style="display:inline-block" data-placement="bottom" title="{{!likeDisabled ? '' : 'Sign in to Like'}}">
              <button ng-disabled="likeDisabled" ng-click="likeUnlikeItem(marketDetails, 'market')" type="button" class="btn btn-default beLocal-btn-default">
                <span class="glyphicon glyphicon-heart like-button" ng-class="{'like-button-liked' : marketDetails.is_liked}"></span>
                <span ng-hide="marketDetails.is_liked">Like</span>
                <span ng-show="marketDetails.is_liked">Unlike</span>
                <span class="like-container" ng-show="marketDetails.total_likes > 0">
                  {{marketDetails.total_likes}}
                </span>
              </button>
            </div>
            <hr>         
            <div class="description-container">
		        <ul style="margin-bottom:0px" class="list-inline store-hours">
			        <li ng-repeat="day in marketDetails.address.hours">
			            <b>{{weekdays[day.weekday - 1]}}</b>: {{day.from_hour}} - {{day.to_hour}}
			        </li>
		        </ul> 
	        </div>
            <hr>
            <p class="small-header">Market Description</p>
            <div class="longDesciption">
                {{marketDetails.description}}
            </div>
        </div>
    </div>


<!--Display Seller's Locations-->
    <hr>
    <div class="row">
        <div class="col-xs-12 new-hr-heading-style">
            FARMERS AND LOCAL FOODMAKERS SELLING AT {{marketDetails.name | uppercase}}
        </div>
    </div>
    <hr>


  <div ng-repeat="vendor in marketDetails.vendors">
  	   <vendor-card data="vendor"></vendor-card>
  </div>

</div>
<footer></footer>
<!-- END OF CONTAINTER-SELLER -->

<product-details-modal produt="product"></product-details-modal>

