<!-- NAVBAR -->
<div class="hidden-xs"><nav-bar></nav-bar></div>
<div ng-show="showXSNav"><navbar-x-s></navbar-x-s></div>

<!-- SELLER DETAILS -->
<div class="customer-container">  
    <div class="row vendor-profile-header">


        <div class="col-sm-5 vendor-avatar">
            <div class="vendor-avatar-img" style="background-image:url({{marketDetails.photo.image_url}}); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="col-sm-12">
                    <div class="pull-right like-button-position" data-toggle="tooltip" style="display:inline-block" data-placement="left" title="{{!likeDisabled ? '' : 'Sign in to Like'}}">
                      <button ng-disabled="likeDisabled" ng-click="likeUnlikeItem(marketDetails, 'market')" type="button" class="btn btn-default beLocal-btn-default">
                        <span class="glyphicon glyphicon-heart like-button" ng-class="{'like-button-liked' : marketDetails.is_liked}"></span>
                        <span ng-hide="marketDetails.is_liked">Like</span>
                        <span ng-show="marketDetails.is_liked">Unlike</span>
                        <span class="like-container" ng-show="marketDetails.total_likes > 0">
                          {{marketDetails.total_likes}}
                        </span>
                      </button>
                    </div>
                </div>

            </div>

        </div>

        <div class="vendor-header-content col-sm-7">

            <span class="new-vendor-name-style">
                {{marketDetails.name}}<br>
            </span>
            <span class="new-hr-heading-style">
                <a href="http://maps.google.com/?q={{marketDetails.address.latitude}},{{marketDetails.address.longitude}}" target="_blank">
                    <span class="glyphicon glyphicon-map-marker"></span> 
                    {{marketDetails.address.addr_line1}}, {{marketDetails.address.city}}, {{marketDetails.address.state}}
                </a>
                | <a href="{{marketDetails.webpage}}" target="_blank">Our Website</a>
            </span>
            <hr>    

            <div class="markets-placeholder-text" ng-show="marketDetails.address.hours == 0">
                <div class="no-bottom-margin small-header"><b>The {{marketDetails.name}} is closed for the season.</b></div>
            </div>

            <div class="" style="padding-left:0px;">
		        <ul style="margin-bottom:0px" class="list-inline">
			        <li ng-repeat="day in marketDetails.address.hours">
			            <b>{{weekdays[day.weekday - 1]}}</b>: {{day.from_hour}} - {{day.to_hour}}
			        </li>
		        </ul> 
	        </div>
            <hr>
            <p class="small-header">Market Description</p>
            <div class="longDesciption">
                {{marketDetails.description}}
            </div>
        </div>
    </div>


<!--Display Seller's Locations-->
    <hr>
    <div class="row">
        <div class="col-xs-12 new-hr-heading-style">
            FARMERS AND LOCAL FOODMAKERS SELLING AT {{marketDetails.name | uppercase}}
        </div>
    </div>
    <hr>

    <div class="vendor-placeholder-text" ng-show="marketDetails.vendors == 0">
        <p class="no-bottom-margin">No local vendors have currently listed {{marketDetails.name}} as one of their selling locations.</p>
    </div>

  	<vendor-card ng-repeat="vendor in marketDetails.vendors" data="vendor"></vendor-card>

</div>
<footer></footer>
<!-- END OF CONTAINTER-SELLER -->

<product-details-modal produt="product"></product-details-modal>

