<div class="hidden-xs"><nav-bar></nav-bar></div>
<div ng-show="showXSNav"><navbar-x-s></navbar-x-s></div>

<div class="customer-container">
    <div ng-show="productResults.length == 0 && marketResults.length == 0 && vendorResults.length == 0" class="row">
        <!-- DISPLAY ITEMS -->
        <div class="col-sm-10">
            <div class="new-heading-style">
                Search Results for "{{query}}"
            </div>
        </div>
    </div>

    <!-- Product Search Results -->
    <div ng-show="productResults.length > 0">
        <div class="row">
            <!-- DISPLAY ITEMS -->
            <div class="col-sm-12">
                <div class="new-heading-style">
                    Search Results for "{{query}}"
                </div>
                <div class="row" style="padding-top:5px" id="masonry-container">
                    <div class="col-trending ms-item col-lg-3 col-md-4 col-sm-6 col-xs-6" ng-repeat="item in productResults" >
                        <product-card data="item"></product-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Vendor Search Results -->
    <div ng-show="vendorResults.length > 0">
        <div class="row">
            <!-- DISPLAY VENDOR CARDS -->
            <div class="col-sm-12">
                <div class="new-heading-style">
                    Search Results for "{{query}}"
                </div>         
                <div ng-repeat="vendor in vendorResults">
                    <vendor-card data="vendor"></vendor-card>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- INJECTING FOOTER -->
<footer></footer>

<product-details-modal product="product"></product-details-modal>
