<nav-bar></nav-bar>

<div style="position:relative;">
  <div class="jumbotron beLocal-header">
    <div class="container">

    </div>
  </div>


<!--Seller-Navigation-->
<div class="seller-banner">
	<row >
		<div class="seller-Avatar col-sm-3">
			<div class="AvatarContainer">
				<img src="http://gradschool.oregonstate.edu/sites/gradschool.oregonstate.edu/files/styles/square_medium/public/default_images/user_icon.png?itok=mbz2tJug">
			</div>
	  	</div>
		<div class="seller-Name col-sm-9"><h1>Sellers Name Here</h1></div>
	</row>
</div>

<div class="seller-tabs">
	<row>
		<div class="seller-tabs col-md-offset-3">
		<ul class="nav nav-pills nav-justified">
  			<li class="active"><a href="#">Home</a></li>
  			<li><a href="#">Profile</a></li>
  			<li><a href="#">Messages</a></li>
		</ul></div>
	</row>
</div>
<!--
<div class="full-width-tabs container-fluid">
  <ul class="nav nav-pills nav-pills-home" role="tablist">
    <li class="full-width"><a href="#">Markets</a></li>  
    <li class="full-width active"><a href="#">Trending</a></li>
    <li class="full-width"><a href="#">Vendors</a></li>
  </ul>
</div>
-->

<div class="container marketing">


	<!-- Modal for Seller Adding an Item -->
	<div class="row">
		<!-- Button trigger modal -->
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#itemModal">
		  Create New Item
		</button>
		<div class="modal fade" id="itemModal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title">Create New Item</h4>
		      </div>
		      <form role="form">
		      <div class="modal-body">
				  <div class="form-group">
				    <label for="item-name">Item Name</label>
				    <input type="email" class="form-control" id="item-name" placeholder="Enter Item Name"/>
				  </div>
				  <div class="form-group">
				    <label for="item-description">Item Description</label>
				    <textarea class="form-control" id="item-description" placeholder="Enter Description"/>
				  </div>
				  <div class="form-group">
				    <label for="item-image">Upload Image</label>
				    <input type="file" id="item-image">
				  </div>
		      </div>		
		      <div class="modal-footer">
		        <button type="button" class="btn btn-defadivt" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Save</button>
		      </div>
		      </form>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->


	</div>	
	<div class="row">
		<div class="col-md-6">
			<h3>Your Items</h3>
			<div class="list-group">
				<div class="list-group-item clearfix">
					Carrots
					<button class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#itemModal">
						Edit
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h3>Your Locations</h3>
			<div class="list-group">
				<div class="list-group-item clearfix">
					Saanich Market
					<button class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#itemModal">
						Edit
					</button>
				</div>
			</div>
		</div>
	</div>

</div>
</div>