<nav-bar></nav-bar>
<div class="jumbotron beLocal-header-seller">
    <div class="container">
    </div>
</div>

<!--Seller-Navigation-->
<div class="seller-banner">
    <div class="seller-Avatar col-sm-3">
        <div class="AvatarContainer">
            <img src="http://gradschool.oregonstate.edu/sites/gradschool.oregonstate.edu/files/styles/square_medium/public/default_images/user_icon.png?itok=mbz2tJug">
        </div>
    </div>
    <div class="seller-Name col-sm-9">
        <h1>Sellers Name Here</h1>
    </div>
</div>
<div class="seller-tabs">
    <div class="seller-tabs col-md-offset-3">
        <ul class="nav nav-pills nav-justified">
            <li class="active"><a href="#">Home</a></li>
            <li><a class="inactive" href="#">Profile</a></li>
            <li><a class="inactive" href="#">Messages</a></li>
        </ul>
    </div>
</div>
<!--Seller-Navigation End-->


<div class="container container-seller">
    

<!--Display Seller's Locations-->
    <div class="row ">
        <div class="col-xs-10 seller-title-bar">
            <h3>Your Locations</h3>
        </div>
        <div class="col-xs-2 add-new-button-container">
            <button class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#locationModal">Create New Location</button>
        </div>
    </div>

    <!-- repeating for each location that seller has in the db -->
    <div ng-repeat="location in sellerLocations">
        <div class="row list-group-item">
            <div class="col-xs-10">
                <h4>{{location.name}}</h4>
                <div class="seller-location-details">
                    <p><b>DATE:</b>
                        {{location.start_time | date:" EEEE',' MMMM d',' h:mma' - '"}}
                        {{location.end_time | date:" h:mma"}}
                    </p>
                    <p><b>LOCATION:</b>
                        {{location.address.addr_line1}}
                        {{location.address.city}}, 
                        {{location.address.state}}, 
                        {{location.address.zipcode}}
                    </p>

                    <p><b>CONTACT INFORMATION:</b>
                    </p>

                    <p><b>DETAILS:</b>
                    </p>
                </div>

            </div>

            <div class="col-xs-2 edit-button-container">
                <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#locationModal">Edit</button>
            </div>

        </div>
        <br>
    </div>

    <!-- end of repeating for each location that seller has in the db -->

<!--Display Seller's Inventory-->
    <div class="row">
        <div class="col-xs-6 seller-title-bar">
            <h3>Your Inventory</h3>
        </div>
        <div class="col-xs-6 add-new-button-container">
            <button class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#itemModal">Create New Item</button>
        </div>
    </div>

    <!-- repeating for each item that seller has in the db -->
    <div class="row list-group-item">
        <div class="col-sm-2 thumbnail hidden-xs">
            <img src="http://media.mercola.com/assets/images/food-facts/carrot-nutrition-facts.jpg"/>
        </div>
        <div class="col-sm-8 col-xs-10">
            <h4>Item Name</h4>
            Item Description
        </div>
        <div class="col-sm-2 col-xs-2 edit-button-container">
            <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#locationModal">Edit</button>
        </div>
    </div>
    <div class="row list-group-item all-locations">
        All Locations
        <div class="pull-right seller-item-stock">
            <input type="radio" name="stock-status" value="InStock"> In Stock 
            <input type="radio" name="stock-status" value="OutOfStock"> Out of Stock 
        </div>
    </div>

    <!-- repeat for each seller location -->
    <div class="row list-group-item">
        Sample Location
        <div class="pull-right seller-item-stock">
            <input type="radio" name="stock-status2" value="InStock"> In Stock 
            <input type="radio" name="stock-status2" value="OutOfStock"> Out of Stock 
        </div>
    </div>
    <!--  end of repeat for each seller location -->

</div>
<!-- END OF CONTAINTER-SELLER -->

<!-- Seller Add/Edit Item Modal -->
<div class="modal fade" id="itemModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Create New Item</h4>
            </div>
            <form role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="item-name">Item Name</label>
                        <input type="email" class="form-control" id="item-name" placeholder="Enter Item Name"/>
                    </div>
                    <div class="form-group">
                        <label for="item-description">Item Description</label>
                        <textarea class="form-control" id="item-description" placeholder="Enter Description"/>
                    </div>
                    <div class="form-group">
                        <label for="item-image">Upload Image</label>
                        <input type="file" id="item-image">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Seller Add/Edit Location Modal  -->
<div class="modal fade" id="locationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Create New Location<br /><small>Please complete the following fields to add a new seller location</small></h4>
            </div>
            <div class="modal-body">  
                <div class="container-fluid">                   
                    <form role="form" name="locationForm" novalidate ng-submit="newLocationSubmit()">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <div class="form-group" ng-class="{ 'has-error' : newLocationSubmitted && locationForm.locationField.$invalid }">
                                    <label for="item-name">Location Name</label>
                                    <input required ng-model="locationName" type="text" name="locationField" class="form-control" id="item-name" placeholder="Enter Location Name"/>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <div class="form-group">
                                    <label for="item-name">Location Type</label><br />
                                    <label class="radio-inline">
                                      <input type="radio" ng-model="locationType" name="locationTypeOptions" id="farmRadio" value="FAR"><p>Farm</p>
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" ng-model="locationType" name="locationTypeOptions" id="marketRadio" value="MAR"><p>Market</p>
                                    </label>                            
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <div class="form-group">
                                  <label>Start date:</label>                      
                                  <div class="input-group" ng-class="{ 'has-error' : newLocationSubmitted && locationForm.dateField.$invalid }">
                                    <input required type="text" name="dateField" class="form-control date-picker" show-weeks="false" show-button-bar="false" datepicker-popup="MM/dd/yyyy" ng-model="locationDate" is-open="opened" min="minDate" max="'2015-06-22'" close-text="Close" />
                                    <span class="input-group-btn">
                                      <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>                       
                                  </div>
                                </div>                               
                            </div>                        
                            <div class="col-xs-3 col-md-3">
                                <div class="form-group" ng-class="{'has-error': newLocationSubmitted && locationForm.startField.$invalid}">
                                    <label class="control-label"><i class="fa fa-clock-o"></i>Start Time</label>
                                    <input required type="text" class="form-control" size="8" ng-model="startTime" name="startField" bs-timepicker>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <div class="form-group" ng-class="{'has-error': newLocationSubmitted && locationForm.endField.$invalid}">
                                    <label class="control-label"><i class="fa fa-clock-o"></i>End Time</label>
                                    <input required type="text" class="form-control" size="8" ng-model="endTime" name="endField" bs-timepicker>
                                </div>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="well">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12" ng-class="{'has-error': newLocationSubmitted && locationForm.addressField.$invalid}">
                                        <div class="form-group">
                                            <label for="item-name">Street Address</label>
                                            <input required ng-model="locationAddress" type="text" class="form-control" id="item-name" name="addressField" placeholder="Address"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-md-6">
                                        <div class="form-group" ng-class="{'has-error': newLocationSubmitted && locationForm.cityField.$invalid}">
                                            <label for="item-name">City</label>
                                            <input required ng-model="locationCity" type="text" class="form-control" id="item-name" name="cityField" placeholder="City"/>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-xs-6 col-md-6" ng-class="{'has-error': newLocationSubmitted && locationForm.provinceField.$invalid}">
                                        <div class="form-group">
                                            <label for="item-name">Province</label>
                                            <input required ng-model="locationProvince" type="text" class="form-control" id="item-name" name="provinceField" placeholder="Province"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <div class="form-group" ng-class="{'has-error': newLocationSubmitted && locationForm.postalCodeField.$invalid}">
                                            <label for="item-name">Postal Code</label>
                                            <input required type="text" ng-model="locationPostalCode" class="form-control" id="item-name" name="postalCodeField" placeholder="Postal Code"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-6" ng-class="{'has-error': newLocationSubmitted && locationForm.countryField.$invalid}">
                                        <div class="form-group">
                                            <label for="item-name">Country</label>
                                            <input required ng-model="locationCountry" type="text" class="form-control" id="item-name" name="countryField" placeholder="Country"/>
                                        </div>
                                    </div>                                                                    
                                </div>                                                                                                  
                            </div>                            
                        </div>                    
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" ng-click="newLocationSubmit()" class="btn btn-primary">Add Location</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>