<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">be<span class="beLocal-highlight">Local</span></h3>
                    <ul class="nav masthead-nav" role="tablist">
                        <li class="active"><a href="/welcome/#home" role="tab" data-toggle="tab">Home</a></li>
                        <li><a href="/welcome/#customers" role="tab" data-toggle="tab">For Customers</a></li>
                        <li><a href="/welcome/#vendors" role="tab" data-toggle="tab">For Farmers</a></li>
                        <li><a class="pointer welcome-sign-in" ng-click="signIn()">Sign In</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="inner cover">
                        <h1 class="cover-heading">Discover Victoria's Local Food Scene</h1>
                        <p class="lead">be<span class="beLocal-highlight">Local</span> connects you with the food grown around you. <br>To begin browsing without creating an account, click Get Started below.</p>
                        <p class="lead">
                            <a ng-click="getStarted()" class="btn btn-lg btn-default-welcome">Get Started</a>
                        </p>
                    </div>
                </div>
                <div class="tab-pane" id="customers">
                    <div class="inner cover">
                        <h1 class="cover-heading">For Customers</h1>
                        <span>
                            <p class="how-it-works">How It Works</p>
                        </span>
                        <div class="container">
                            <!-- Example row of columns -->
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Search</h2>
                                    <p>Search for products, markets and local foodmakers in your area.</p>
                                </div>
                                <div class="col-md-4">
                                    <h2>Browse</h2>
                                    <p>Browse individual products at farm stands, markets and stores.</p>
                                </div>
                                <div class="col-md-4">
                                    <h2>Discover</h2>
                                    <p>Discover new foodmakers and sources of local food from the comfort of your home.</p>
                                </div>
                            </div>
                            <br><br>
                            <p class="lead">
                                <a ng-click="signUpAsCustomer()" class="btn btn-lg btn-default-welcome"><i class="fa fa-facebook-square"></i> Sign Up as a Customer</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="vendors">
                    <div class="inner cover">
                        <h1 class="cover-heading">For Farmers and Local Foodmakers</h1>
                        <span>
                            <p class="how-it-works">How It Works</p>
                        </span>
                        <div class="container">
                            <!-- Example row of columns -->
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>List Locations</h2>
                                    <p>List the places where you sell products, including markets, storefronts and farm stands.</p>
                                </div>
                                <div class="col-md-4">
                                    <h2>List Products</h2>
                                    <p>List the products you sell. beLocal makes it easy for you to add images and to keep stock up to date.</p>
                                </div>
                                <div class="col-md-4">
                                    <h2>Connect</h2>
                                    <p>Share your latest updates on social media and connect with local customers instantly.</p>
                                </div>
                            </div>
                            <br><br>
                            <p class="lead">
                                <a ng-click="signUpAsVendor()" class="btn btn-lg btn-default-welcome"><i class="fa fa-facebook-square"></i> Sign Up as a Farmer</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>&copy; 2014 beLocal</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="accountExistsModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Account Already Created</h4>
      </div>
      <div class="modal-body">
        <p>Oops! It looks like this Facebook account already has a beLocal account associated with it. Try signing in instead!</p>
      </div>
      <div class="modal-footer no-top-margin">
        <button type="button" class="btn beLocal-btn-filled" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="noValidAccountModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">No Valid Account</h4>
      </div>
      <div class="modal-body">
        <p>Oops! We couldn't find an beLocal account registered with that Facebook account. Try creating one first!</p>
      </div>
      <div class="modal-footer no-top-margin">
        <button type="button" class="btn beLocal-btn-filled" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->