/* BELOCAL STYLES 
-possible background colour: #EFF7EF;
-logo green: #78be25;

*/

@media screen and (max-width: 400px) {
    .hidden-mobile{
        display: none !important;
    }
}

@media screen and (min-width: 401px) {
    .show-mobile {
        display: none !important;
    }
}


.vendor-avatar-img{
  width: 100%;
  max-width: 500px;
  height: 100%;
  min-height: 300px;
  overflow: hidden;
  vertical-align: middle;
  margin-bottom: 5px !important;

}

@media (max-width: 450px) {

  .vendor-avatar-img{
    height: 200px !important;
  }

  .vendor-avatar {
    height: 200px !important;
  }

  .like-button-position{
    margin-top: 150px !important;
  }
}

.like-padding {
  vertical-align: text-bottom;
}

.vendor-avatar {
  max-height: 300px;
  overflow: hidden;
  vertical-align: middle;
}

.update-profile-sm-buttons {
  float: right !important;
}


@media (max-width: 460px) {
  .seller-stock-formatting input[type="radio"] {
    margin-left: 5px !important;
    text-align: left !important;
  }
}

/*NAV BAR RESPONSIVENESS*/

@media (max-width: 1100px) and (min-width: 1001px) {
  .beLocal-search {
    width: 495px !important;
  }
}

@media (max-width: 768px) {
  .header-container {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center !important;
    float: none !important;
  }

  .search-nav-xs {
    width: 55% !important;
    float: left;
  }

  .navbar-toggle {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 0px !important;
  }
}

@media (max-width: 1000px) {
  .beLocal-search {
    width: 350px !important;
  }

  .logo-header {
    margin-top: -90px;
  }

  .logo-header img {
    width: 250px !important;
  }
}

/* END OF NAV BAR RESPONSIVENESS*/

.no-block {
  display: inline !important;
}

.search-nav-xs {
  width: 495px;
  margin-bottom: 0px !important;
}

.navbar-xs {
  height: auto !important;
  border-bottom: 3px solid #78be25 !important;
}

.navbar-brand {
  padding-top: 5px !important;
  padding-left: 5px !important;
  padding-bottom: 0px !important;
  padding-right: 5px;
}

.longDesciption {
  display: -webkit-box;
}

.navbar-brand img {
  height: 35px;
}

@media (max-width: 325px) {
    .full-logo {
        display: none !important;
    }
}

@media (min-width: 326px) {
    .small-logo {
        display: none !important;
    }
}

.beLocal-search {
  width: 600px;
}

.header-container {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}

.hr-description-style {
  font-size: 16px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: #9c9795;
  padding-top: 7px;
}

.customer-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 35px;
}

.tag-formatting {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

@media (max-width: 768px) {
  .customer-container {
    padding-top: 60px !important;
  }
}

.nav-shadow {
  text-shadow: 0px 0px 5px #CFF4BF;
}

.customer-nav .active {
  color: white !important;
/*  text-decoration: underline;
  -moz-text-decoration-color: #403E3B;
  text-decoration-color: #403E3B;*/
}

.customer-nav li a:hover {
  color: #252422 !important;
  text-decoration: none;
}

.customer-nav .active > a:hover {
  color: #1a1918 !important;
}
 
.customer-nav .active > a {
  color: #1a1918 !important;
}

.navbar {
  background-color: #FFFFFF !important;
  height: 140px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3) !important;
}



.nav-bar-top {
  padding-bottom: 50px;
  padding-right: 10px;
}

.logo-header {
  margin-top: -100px;
}

.logo-header img {
  width: 300px;
}

.customer-nav {
  height: 50px;
  background-color: #78be25 !important;
}

.logo-green {
  color: #78be25 !important;
}

.first-modal-row {
  margin-bottom: 15px;
}

.medium-margin {
  margin-left: 10px;
}

.header-font {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.modal-title {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
}

.modal-title > small {
  font-family: 'Roboto', sans-serif !important;
}

.small-header {
  font-family: 'Roboto', sans-serif !important;
  color: #403E3B;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0px;
  margin-bottom: 10px;
}

.edit-location-modal-header {
  border-bottom: 0px;
  padding-bottom: 0px;
}

.plain-text-font {
  font-family: 'Roboto', sans-serif !important;
}

.center {
  text-align: center;
}

.bold-hover .a:hover {
  font-style: bolder;
}

.plain-text {
  font-size: 15px !important;
  font-family: 'Roboto', sans-serif !important;
  color: #696969 !important;
  margin-top: 1px;
}

.top-nav-large {
  background-color: #FAFAFA;
  border-bottom: 1px solid #e5e1dd;
  padding: 10px;
  margin-top: 35px;
  padding-top: 15px;
}

.top-nav-large li a {
  padding-left: 0px !important;
  padding-right: 30px !important;
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  line-height: normal;
  font-weight: bolder;
  color: #474541 !important;
  vertical-align: center;
}

.top-nav-large img {
  margin: 10px;
}

.top-nav-large li.active {
  color: red;
}

.location-tabs {
  margin-bottom: 15px;
  border-bottom: 0px;
}

.vendor-card-name {
  color: #000;
  font-family: 'Libre Baskerville', serif;
  font-weight: bolder;
}

.vendor-card-name:hover {
  color: #000;
}

.like-container {
  padding-left: 10px;
  margin-left: 3px;
  border-left: 1px solid #A7A7A7;
}

.like-button {
  color: #A7A7A7;
}

.like-button-container {
  top: -50px;
  height: 1px;
  text-align: right;
}

.like-button-markets {
  top: -50px;
  text-align: right;
}

.beLocal-btn-default {
  background-color: white !important;
  border-color: #CCCCCC !important;
}

.beLocal-btn-default:hover {
  background-color: #EFEFEF !important;
}

button:focus,
button:hover,
button:active {
  outline: 0px !important;
  -webkit-appearance: none;
}

.like-button:hover {
  color: #979797;
}

.like-button:focus {
  background-color: white !important;
}

.like-button-liked {
  color: #d35b3d !important;
}

textarea {
  resize: vertical;
}

.hours-picker {
  margin-bottom: 5px;
}

.closed-string {
  margin: 0px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.closed-container {
  text-align: center;
}

.btn-more-details {
  margin-top: 5px;
}

.market-card-text {
  font-size: 12px;
}

html {
  position: relative;
  min-height: 100%;
  /*background-color: #DDDDDD;*/
  background-color: #EEEEEE;
  /*background-image: url('/images/pattern-new.png');*/
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  background-color: #EEEEEE;
  /*background-image: url('/images/pattern-new.png');  */
  font-family: 'Roboto', sans-serif !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*  height: 60px;*/
  background-color: #777777;
  color: #EFEFEF;
  padding-top: 5px !important;
  padding-bottom: 40px;
}

.footerCopyright {
  position: absolute;
  bottom: 0;
  min-height: 30px;
  width: 100%;
  background-color: #343333;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 0px 5px 0px;
  border-top: 3px solid #FFFFFF !important;
}

a.footerLink {
  color:white;
  margin-left:10px;
  margin-right:10px;
}

@media (max-width: 598px) {
  .radio-inline-responsive {
    margin-left: 0px !important;
  }
}

@media (max-width: 768px) {
  .navbar-form {
    width: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border: 0;
    box-shadow: none;
  }
}

.radio-padding-right {
  padding-right: 15px;
}

#item-image {
  display: inline;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.no-top-margin {
  margin-top: 0px !important;
}

.container-md {
  text-align: right;
}

.container-trending {
  text-align: center;
}

.product-card {
  max-width: 485px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px !important;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3) !important;
  border: 0px !important;
  border-radius: 0px !important;
}

.product-card img {
  margin: 0px !important;
  width: 100%;
}

.market-card {
  max-width: 485px;
  margin-right: auto;
  margin-left: auto;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #8ed41e;
}

.btn-action {
  margin-right: 15px;
}

.nav-pills-home > li > a {
  border-radius: 0px !important;
}

.price {
  color: #78c042;
}

.full-width-tabs > ul.nav.nav-pills {
  display: table;
  width: 100%;
  table-layout: fixed;
  /* To make all "columns" equal width regardless of content */
}

.full-width-tabs > ul.nav.nav-pills > li {
  float: none;
  display: table-cell;
}

.full-width-tabs > ul.nav.nav-pills > li > a {
  text-align: center;
}

.full-width-tabs > ul.nav.nav-tabs {
  display: table;
  width: 100%;
  table-layout: fixed;
  /* To make all "columns" equal width regardless of content */
}

.full-width-tabs > ul.nav.nav-tabs > li {
  float: none;
  display: table-cell;
}

.full-width-tabs > ul.nav.nav-tabs > li > a {
  text-align: center;
  border-bottom: 1px solid #DDDDDD;
  margin-right: 0px;
}

.full-width-tabs > ul.nav.nav-tabs > li.active > a {
  border-bottom: 0px;
  color: #555555;
  font-weight: normal;
}

.full-width-tabs > ul.nav.nav-tabs > li > a {
  color: #8ed41e;
  font-weight: bold;
}

.container-home-page {
  margin-top: 175px;
  width: 100% !important;
  max-width: 100% !important;
}

.full-width {
  width: 100%;
}

.alert {
  width: 100%;
  position: fixed;
  z-index: 1030;
  top: 52px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0px !important;
}

.beLocal-highlight-nobold {
  color: #8ed41e !important;
}

.beLocal-highlight {
  color: #8ed41e !important;
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.beLocal-header {
  background-image: url("/images/header-grass-fixed.jpg");
  background-position-x: center;
  background-position-y: 70%;
  background-size: 100%;
  height: 325px;
  margin-bottom: 0px;
}

.beLocal-header-seller {
  background-position-x: center;
  height: 300px;
  margin-bottom: -25px;
  background-image: url("/images/sellerbanner-peas.jpg");
  background-size: 1500px;
  background-position-x: center;
  background-position-y: 37%;
}

.navbar-footer {
  border-top: none;
  position: absolute;
  bottom: 0px;
  min-height: 85px;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  display: table;
}

.navbar-footer p {
  display: table-cell;
  vertical-align: middle;
  color: white;
  padding-left: 20px;
  font-size: 18pt;
  font-family: 'Bitter', serif;
}

.beLocal-btn {
  background-color: white !important;
  border: 1px solid #8ed41e !important;
  color: #8ed41e !important;
}

.beLocal-btn:hover {
  background-color: #fafafa;
  border: 1px solid #8ed41e;
  color: #8ed41e;
}

.beLocal-btn-filled {
  background-color: #8ed41e;
  color: white !important;
}

.beLocal-a {
  color: #8ed41e;
}

.beLocal-a:hover {
  color: #89cc1d;
}

.beLocal-btn-filled:hover {
  background-color: #89cc1d;
  color: white;
}

/* VENDOR CARD STUFF */

.vendor-card-info {
  font-size: 11px;
  padding: 5px;
  float: left;
}

.vendor-card {
  margin: 5px 0px 5px 0px;
  border: 0px !important;
  padding: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3) !important;
  border-radius: 0px !important;
}

/* END OF VENDOR CARD */

/*TWITCKER STYLES */

#twitcker-bar {
  background: #FAFAFA !important;
  border: none !important;
}

div.box {
  background: #8ed41e !important;
}

div.box a {
  color: white !important;
}

/* Space out content a bit */

body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */

.footer {
  padding-top: 19px;
  background-color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */

@media (min-width: 768px) {
  .market-time-info {
    text-align: right;
  }

  .container {
    max-width: 730px;
  }

  .col-trending {
    text-align: center;
  }

  .trending-caption {
    text-align: left !important;
  }

  .market-caption {
    text-align: left !important;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Customize container */

@media (max-width: 768px) {
  .sign-in-form {
    padding-left: 0px;
  }

  .product-card {
    max-width: 335px;
    margin-right: auto;
    margin-left: auto;
    width:100%;
  }
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */

  .header,
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */

  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */

  .jumbotron {
    border-bottom: 0;
  }
}

/* SELLER UI STARTS */

.seller-Avatar {
  height: 0px;
  z-index: 0;
}

.AvatarContainer {
  top: -200px;
  position: relative;
  text-align: center;
  border-color: black;
  border: 2px;
}

.AvatarContainer img {
  padding: 5px;
  border: 1px solid #696969;
  background-color: #FFFFFF;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  min-height: 190px;
  min-width: 190px;
  max-width: 250px;
  max-height: 250px;
}

.seller-Name {
  height: 0px;
  top: -75px;
  color: #FFFFFF;
  text-shadow: 0 0 5px #696969;
}

.seller-tabs {
  padding-bottom: 0px;
  z-index: -1;
  background-color: #F1F1F1;
}

/*seller-ui stuff*/

/* Customize container */

.container-seller {
  max-width: 970px !important;
}

.seller-item-stock {
  vertical-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

.seller-item {
  text-align: right !important;
}

.seller-item-stock input[type="radio"] {
  margin-left: 25px;
  text-align: right !important;
}

@media (max-width: 768px) {
  .seller-Name {
    text-align: center !important;
  }

  .seller-title-bar {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .thumbnail {
    float: none !important;
    display: inline-block;
  }

  .container-md {
    text-align: center !important;
  }

  .seller-item-stock {
    text-align: left;
  }

  .item-content-container {
    padding-left: 0px !important;
  }
}

.edit-button-container {
  text-align: right;
  vertical-align: center;
}

.add-new-button-container {
  top: 15px;
  text-align: right;
  padding-right: 15px;
}

.seller-title-bar {
  padding-left: 0px;
  padding-right: 0px;
}

.all-locations {
  background-color: #F1F1F1;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #FFFFFF;
  color: #89cc1d;
}

.seller-title-bar {
  display: inline !important;
}

.nav > li > a {
  color: #A5A5A5;
}

.nav-pills li {
  text-decoration: none;
  font-weight: bold;
  border-radius: 0px;
  border-left: 2px solid #EBEBEB !important;
  color: #000 !important;
}

.nav-pills > li > a {
  border-radius: 0px;
}

.edit-text {
  color: #8ed41e;
  padding: 5px;
}

.well {
  padding-bottom: 5px;
}

.edit-text-container {
  text-align: right;
}

.edit-text:hover {
  color: #89cc1d;
  cursor: pointer;
  font-weight: bold;
}

.list-group-item {
  padding-bottom: 0px !important;
}

.item-content-container {
  padding-left: 15px;
}

.seller-item-list {
  padding: 5px;
  vertical-align: center;
}

/* SELLER UI ENDS*/

/* PRODUCT DETAILS UI STARTS */

.product-details-header {
  margin-bottom: 2px;
}

.vendor-card-photo {
  width: 100%;
  margin-bottom: 0px;
  max-width: 350px;
}

.product-details-text a {
  color: #696969 !important;
  font-size: 16px;
}

.product-details-text {
  padding-bottom: 12px;
}

/* PRODUCT DETAILS UI ENDS */

/*VENDOR DETAILS UI*/

.panel-heading {
  color: #F8F8F8;
}

.container-vendor-details {
  padding: 0px 30px 0px 30px !important;
}

.breadcrumbs {
  color: #89cc1d;
  font-size: 15px !important;
  font-family: "Guardian-EgypTT";
}

.panel-heading:hover {
  cursor: pointer;
  background-color: #F3f3f3;
}

.faded-box-edge {
  border: 6px solid #E4F3DA !important;
  padding: 15px;
  border-radius: 7px;
}

.HeaderText {
  font-size: 15px;
  padding: 0px;
  color: #777777;
}

.seller-name-text {
  color: #000000;
  font-size: 30px;
}

.vendorAvatar img {
  padding: 5px;
  border: 1px solid #dddddd !important;
  border-radius: 5px;
  max-height: 200px;
  max-width: 200px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.icon-map-styles {
  font-size: 40px;
  color: #dddddd !important;
  text-align: center;
}

.seller-Details-Jumbotron {
  background: #E4F3DA;
  text-align: left;
  padding-bottom: 20px !important;
  border-bottom: 3px solid #89cc1d !important;
}

.text-align-right {
  text-align: right;
}

.container-display-vendor-name {
  color: #696969 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding-top: 0px;
}

.container-display-vendor-name a {
  color: #696969 !important;
  font-size: 12px;
}

.vendor-details-items img {
  width: 100%;
}

.toggle-more-info {
  color: #89cc1d;
}

.beLocal-searchProducts {
  width: 100%;
}

.dropdown-productFilter {
  color: #696969;
}

.dropdown-productFilter {
  padding-top: 5px;
}

.dropdown-productFilter a:hover,
a:focus {
  color: #696969;
  text-decoration: none;
}

.dropdown-productFilter .open > a {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  .seller-Details-Jumbotron {
    text-align: center !important;
    padding: 40px 0px 5px 0px!important;
  }

  .responsive-center {
    text-align: center;
  }

  .vendorAvatar img {
    max-height: 150px;
    max-width: 150px;
  }
}

/*CUSTOMER VENDOR TAB STYLES*/

.vendor-tab-styles {
  border-radius: 5px !important;
}

.vendor-images {
  width: 100%;
  height: 100px;
}

.vendor-card {
  height: 120px;
  margin-top: 15px;
}

.vendor-image-container {
  width: 100%;
  height: 100%;
  padding: 3px;
}

.no-padding {
  padding: 0px !important;
}

/*NEW UI STYLES (OCT 21st)*/

.new-formatting-container {
  padding: 80px 15px 5px 15px !important;
}

.new-heading-style {
  margin-top: 15px;
  font-family: 'Libre Baskerville', serif;
  font-size: 25px;
  line-height: normal;
  font-weight: bold;
  color: #403e3b;
}

.new-hr-heading-style {
  font-size: 16px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: #9c9795;
  vertical-align: middle !important;
  padding-top: 7px;
  padding-bottom: 7px;
}

.new-hr-heading-style a {
  color: #9C9795;
}

.new-hr-heading-style a:hover {
  color: #7d7978;
}

.new-vendor-name-style {
  margin-top: 15px;
  font-family: 'Libre Baskerville', serif;
  font-size: 40px;
  line-height: normal;
  font-weight: bolder;
  color: #403e3b;
}

.card-formatting {
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3) !important;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.container-for-cards {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  /* Adding this for now since I think we're just alphabetizing cards rather than displaying them with headings */
}

hr {
  border-color: #d3d3d3 !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

.new-vendor-avatar {
  width: 500px;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  vertical-align: middle;
}

.new-vendor-avatar img {
  width: 100%;

}

.description-container {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: normal;
}

.vendor-header-content {
  padding-right: 15px;
}

.vendor-profile-header {
  padding: 5px 0px 15px 0px;
}

.edit-delete-buttons {
  text-align: right;
  padding-right: 25px;
}

.full-container {
  width: 100%;
}

.vendor-product-image img {
  padding: 3px;
  border: 1px solid #d3d3d3;
  width: 100%;
  max-width: 200px;
}

.seller-stock-formatting input[type="radio"] {
  margin-left: 25px;
  text-align: right !important;
}

.availability-hr {
  margin-top: 10px;
  padding-bottom: 5px;
}

.location-details {
  display: inline-block;
  padding: 0px 15px 0px 15px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: #403e3b;
  padding-top: 10px;
  padding-bottom: 0px;
}

.like-button-position{
  margin-top: 250px;
}

.seller-location-details{
  padding: 0px 15px 0px 15px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: #403e3b;
  padding-top: 10px;
  padding-bottom: 0px;
}

.seller-location-details a {
  color: #403e3b;
  margin-bottom: 2px;
}

.seller-location-details p, ul {
  margin-top: 2px;
  margin-bottom: 2px;
}

.indent-after-first-line {
  text-indent: -15px;
  margin-left: 15px;
}

.new-stock-style {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #403e3b;
}

.card-lable-style {
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  line-height: normal;
  font-weight: bolder;
  color: #403e3b;
}


.store-hours {
  padding-left: 10px;
}

@media (max-width: 992px) {
  .new-vendor-avatar {
    max-width: 500px;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
  }

  .vendor-header-content {
    padding-left: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .new-vendor-avatar {
    max-width: 90%;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
  }

  .vendor-header-content {
    padding-left: 15px;
    padding-bottom: 15px;
  }
}

.tag-list {
  list-style: none;
  padding: 0px;
}

.tag-list > li > a {
  color: #403e3b;
  cursor: pointer;
}

.tag-list > li > .active {
  text-decoration: underline;
}

.tag-check {
  color: #403e3b;
}

.tag-check:hover {
  color: #000;
}

.tag-chevron {
  padding-left: 10px;
  font-size: 10px;
}

.tag-pill-container {
  display: inline;
  cursor: pointer;
  margin-right: 5px;
}

.tag-pill {
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  border: 1px solid #8ed41e;
  padding-right: 10px;
  padding-left: 10px;
  color: #333;
  display: inline-block;
  margin-bottom: 10px;
}

.tag-pill:hover {
  color: white;
  background-color: #8ed41e;
}

.vendor-placeholder-text {
  padding: 10px;
  margin-left: 20px;
}

.markets-placeholder-text {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tag-bar {
  margin-top: 45px;
}

/* MAP STYLES */

.bl-map {
  margin-right: 20px;
  width: 100%;
  height: 600px;
}

@media (max-width: 768px){
  .bl-map {
    margin-right: 20px;
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 400px){
  .bl-map {
    height: 200px;
  }
}

.map-container {
  background-color: white;
  padding: 3px;
  margin-top: 15px;
  border: 1px solid #DDD;
  position: relative;
}

.info-window-content {
  width: 200px;
}

.info-window-text {
  font-size: 12px !important;
}

.info-window-text a {
  color: #696969;
}

.is-inactive {
  margin-top: 50px;
}


.developer-pic {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.developer-pic img {
  background-color: #FFFFFF;
  padding: 3px;
  border: 1px solid #BBBBBB;
  width: 125px;
  max-width: 100%
}

.about-content{
  max-width: 800px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
}

.contactus-content a {
  color:#696969;
  font-weight: bold;
}


@media (max-width: 768px) and (min-width: 768px) {
  .navbar-header {
    width: 78%;
  }
}

.display-inline-block {
  display: inline-block;
}

