/*
 * Globals
 */

html {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), 
    url('http://images.neverendingvoyage.com/wp-content/uploads/2014/07/delicious-istanbul-cooking-class-2.jpg') !important;
/*    url('../images/sellerbanner-peas.jpg') !important;*/
    background-size: cover !important;

}

p{
  color: #696969 !important;
}

.facebook-button{
  background: #4A65BB;
  background-image: -webkit-linear-gradient(top, #4A65BB, #3b54A3);
  background-image: -moz-linear-gradient(top, #4A65BB, #3b54A3);
  background-image: -ms-linear-gradient(top, #4A65BB, #3b54A3);
  background-image: -o-linear-gradient(top, #4A65BB, #3b54A3);
  background-image: linear-gradient(to bottom, #4A65BB, #3b54A3);
}

.facebook-button:hover{
  background: #5877D7;
  background-image: -webkit-linear-gradient(top, #5877D7, #4863b6);
  background-image: -moz-linear-gradient(top, #5877D7, #4863b6);
  background-image: -ms-linear-gradient(top, #5877D7, #4863b6);
  background-image: -o-linear-gradient(top, #5877D7, #4863b6);
  background-image: linear-gradient(to bottom, #5877D7, #4863b6);
  color: #FFFFFF !important;
}

.cover-heading{
  font-family: 'Libre Baskerville', serif;
  font-weight: bolder;
  font-size: 38px;
}

 .how-it-works {
  text-transform: uppercase;
  color: #696969;
 }

 .welcome-sign-in {
  color: #8ed41e !important;
 }

 .welcome-sign-in:hover {
  border-bottom-color: rgba(142, 212, 30, 0.5) !important;
 }

.beLocal-highlight {
  color: #8ed41e !important;
  font-weight: bold;
}

.main-view {
  height: 100%;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default-welcome,
.btn-default-welcome:hover,
.btn-default-welcome:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #DDDDDD;
}

/*
 * Base structure
 */

.modal-title {
  color: #333;
  text-align: left;
  text-shadow: none;
 }

.modal-body {
  color: #333;
  text-align: left;
  text-shadow: none;
 }

html{
  height: 100%;
  background-color: #333;
  padding: 0px !important;
  margin: 0px !important;
}

body {
  margin: 30px !important;
  height: 90%;
  text-shadow: 0 1px 3px rgba(255,255,255,0.5);
  border-radius: 10px;
  text-align: center;
  max-width: 1100px;
  background:rgba(255,255,255,0.8) !important;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
/*  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px 10px 10px 10px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000; /* IE8 proofing */
  color: rgba(0,0,0,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent !important;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(0,0,0,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #000;
  border-bottom-color: #000;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #FFF; /* IE8 proofing */
  color: rgba(255,255,255,0.3) !important;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5) !important;
}

/*
 * BeLocal Button
 */

.btn {
    text-shadow: 0 0px 0px rgba(0,0,0,0) !important;
}

.beLocal-btn-filled {
  background-color: #8ed41e !important;
  color: white !important;
}

.beLocal-btn-filled:hover {
  background-color: #89cc1d !important;
  color: white;
}

/*
 * Affix and center
 */


.mastfoot {
    position: fixed;
    bottom: 0;
  }

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 1100px) {

  body{
    margin-left: auto !important;
    margin-right: auto !important;
  }

}

@media (max-width: 500px) {

  body{
    height: auto;
  }


}


