/*
 * Globals
 */

p {
  color: #696969 !important;
  font-size: 15px;
}

h1 {
  margin-top: 0px !important;
}

h2 {
  margin-top: 0px !important;
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 0;
  clear: both;
  border: solid #ddd;
  border-width: 1px 0 0;
}

.arrow {
  margin-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  max-width: 1000px;
}

.center {
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
}

.fa-facebook-square {
  padding-right:5px;
}

.content-container {
  max-width: 630px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.getting-started-font{
  font-family: 'Libre Baskerville', serif;
  color: #333333 !important;
  font-size: 21px;
  margin-bottom: 0px !important;
}

.facebook-button{
  background: #4A65BB;
  background-image: -webkit-linear-gradient(top, #4A65BB, #3b54A3);
  background-image: -moz-linear-gradient(top, #4A65BB, #3b54A3);
  background-image: -ms-linear-gradient(top, #4A65BB, #3b54A3);
  background-image: -o-linear-gradient(top, #4A65BB, #3b54A3);
  background-image: linear-gradient(to bottom, #4A65BB, #3b54A3);
}

.facebook-button:hover{
  background: #5877D7;
  background-image: -webkit-linear-gradient(top, #5877D7, #4863b6);
  background-image: -moz-linear-gradient(top, #5877D7, #4863b6);
  background-image: -ms-linear-gradient(top, #5877D7, #4863b6);
  background-image: -o-linear-gradient(top, #5877D7, #4863b6);
  background-image: linear-gradient(to bottom, #5877D7, #4863b6);
  color: #FFFFFF !important;
}

.cover-heading{
  font-family: 'Libre Baskerville', serif;
  font-weight: bolder;
  font-size: 38px;
}

 .how-it-works {
  text-transform: uppercase;
  color: #696969;
 }

.slogan-text {
  color: #919191;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}

 .welcome-sign-in {
  color: #8ed41e !important;
 }

 .welcome-sign-in:hover {
  border-bottom-color: rgba(142, 212, 30, 0.5) !important;
 }

.beLocal-highlight {
  color: #8ed41e !important;
  font-weight: bold;
}

.main-view {
  height: 100%;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default-welcome,
.btn-default-welcome:hover,
.btn-default-welcome:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #DDDDDD;
}

/*
 * Base structure
 */


.splash-content {
  padding: 20px 10px 10px 10px;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-content {
  padding-top: 75px;
  padding-bottom: 50px;
}

/*
 * ----------------------------------------------------- BeLocal Button -----------------------------------------------------
 */

.btn {
    text-shadow: 0 0px 0px rgba(0,0,0,0) !important;
    white-space: normal !important;
}

.tab-buttons {
  width: 400px;
  max-width: 100%;
  margin-top: 10px;
}

.beLocal-btn-filled {
  background-color: #78be25 !important;
  color: white !important;
  border: 1px solid #8BBD3B;
}
.beLocal-btn-filled:hover {
  background-color: #89cc1d !important;
  color: white;
}


.button-arrow {
  border-left: 1px solid #A9E561;
  padding-left: 15px;
}


.beLocal-btn {
  background-color: #292929 !important;
  border: 1px solid #8ed41e !important;
  color: #8ed41e !important;
}

.beLocal-btn:hover {
  background-color: #292929;
  border: 1px solid #8ed41e;
  color: #8ed41e;
}

/*
 * ------------------------------------------------------- Number Circles -----------------------------------------------------
 */

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 50px;
    height: 50px;
    padding-top: 10px;
    margin-top: 0px !important;

    background: transparent;
    border: 3px solid #333;
    color: #333;
    text-align: center;

    margin-left: auto;
    margin-right: auto;

    font-family: 'Libre Baskerville', serif;
    font-size: 25px !important;
}


/*
 * ------------------------------------------------------- Jumbotron -----------------------------------------------------
 */

.splashHeader{
    position: relative;
    box-shadow: 3px 3px 6px #999;
    width: auto;
    padding-top: 10px;
    padding-bottom: 100px;
    margin-bottom: 20px;
    background-image: url(/images/background.png);

}

.splashHeader::after{
    display: block;
    content: " ";
    width: 50px;
    height: 50px;
    background-image: url(/images/background.png);
    box-shadow: 3px 3px 3px #999;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    bottom: -25px;
    left: 45%;
}

.logo {
  width: 85% !important;
  max-width: 450px;
}

/*
 * ------------------------------------------------------- Media Query -----------------------------------------------------
 */

@media (min-width: 768px) {
  .button-container {
    margin-top: 70px;
  }

  .text-content {
    max-width: 75%;
  }

  .splashHeader::after{
    left:50%;
  }

}


@media (min-width: 1000px) {
  .button-container {
    margin-top: 100px;
  }
}

